@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}

body{
    scroll-behavior: smooth !important;
    cursor: pointer;
}

.small-banner{
    background-color: royalblue;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: white !important;
    min-height: 60vh;
}

.small-banner button{
    padding: 1rem;
    background-color: red;
    border: none;
    color: white;
    font-weight: 500;
    min-height: 2rem;
    min-width: 10rem;
}

.small-banner button i {
    margin-left: .5rem;
}

#meetup-2{
    font-size: 30px;
}

.small-banner p{
    font-size: 16px;
}

.small-banner button:hover{
    color: black;
}



.small-banner-1{
    display: flex;
    /* background-color: black; */
    min-height: 60vh;
    max-height: 60vh;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6% 5% 5%  5% ;
    flex-direction: column;
}

.small-banner-1 h2{
    font-size: 70px;
    color: gold;
}


.small-banner-2{
    padding: 5% 10%;
}

.small-banner-2 img{
    animation: rocket 10s infinite;
}

@keyframes rocket {
    0% {
        transform: translateY(0px);
    }
    10%{
        transform: translateY(15px);
    }

    20%{
        transform: translateY(-15px);
    }

    30%{
        transform: translateY(-15px);
    }

    40%{
        transform: translateY(15px);
    }

    50%{
        transform: translateY(15px);
    }

    60%{
        transform: translateY(-15px);
    }

    70%{
        transform: translateY(-15px);
    }
    80%{
        transform: translateY(10px);
    }

    90%{
        transform: translateY(5px);
    }

    100%{
        transform: translate(0px);
    }
}



@media (width <=500px) {
    .small-banner{
        display: block;
    max-height: 100vh;

    }

    .small-banner-2 img{
        max-height: 15rem;
        margin-top: -5rem;
    }

    .small-banner-2{
        max-width: 100%;
        margin: 10% !important;
        /* background-color: aliceblue; */
    }

    .small-banner-1{
        display: block;
        text-align: center;
        line-height: 2;
        padding: 10%;
    }
}


/* ------------------------------------------------------- */

/* Speakers - Cool */

.speakers{
    padding: 1% 10%;
    text-align: center;
    /* background-color: antiquewhite; */
}

.speakers .card-title{
    font-size: 25px;
    margin: 5% 0 !important;
}

.speakers-1 .card:hover{
    background-color: coral;
    color: white;
}

.speakers-1 i {
    font-size: 40px;
}

.speakers-1 .card{
    border: none;
    line-height: 2;
    margin: 0 5%;
    padding: 2%;
}

@media (width <= 500px){
    .speakers{
        padding: 5%;
    }
}

/* ------------------------------------------------------- */
/* Speakers of 6 */

.speakers-2{
    padding: 1% 15%;
}

.speakers-2 .card {
    margin: 1% 2%;
    border: 1px solid grey !important;
    text-align: center;
    padding: 1%;
    display: block;
}

.card-img-top{
    min-height: 3rem;
    max-width: 5rem;
}

.speakers-2 .card:hover{
    transform: translateY(-30px) !important;
    transition-duration: .1s !important;
    transition-delay: 0 !important;
    /* box-shadow: 6px 5px lightgray; */
}

@media (width <= 500px) {
    .speakers-2{
        padding: 5%;
    }
}

/* ------------------------------------------------- */

.speakers-2 #speaker-social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 25%;
    margin-top: 10%;
    /* background-color: aliceblue; */
}

/* --------------------------------------------------- */

.heading-center {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2% 0;
    /* background-color: antiquewhite; */
}


/* -------------------------------------------------------- */

/* Buy Ticket */

.buy-ticket button{
    padding: 1rem;
    background-color: red;
    border: none;
    color: white;
    font-weight: 500;
    min-height: 2rem;
    text-transform: uppercase;
    min-width: 15rem;
}

.buy-ticket button:hover{
    color: black;
}

.buy-ticket{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 15% 4%;
    background-color: lightblue;
    text-align: center;
    line-height: 2;
}

.buy-ticket-head{
    text-align: center;
    background-color: lightblue;
    padding-top: 3rem;
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: underline;
}

.amount {
    font-size: 60px;
    color: red;
}

.buy-ticket p {
    font-weight: 200;
}

@media (width <=500px){
    .buy-ticket{
        display: block;
    }
}

/* --------------------------------------------- */

.tabs-schedules{
    padding: 2% 15%;
}

.tab-one-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% ;
    /* background-color: antiquewhite; */
}

.tab-one-card img{
    max-height: 8rem;
    margin-right: 2rem;
}

.tab-one-card h5{
    border-bottom: 1px solid lightslategray;
    font-weight: 400;
    margin-bottom: 1rem;
}

.tab-one{
    display: flex;
    flex-wrap: wrap;
}


@media (width <= 500px) {
    .tab-one-card{
        display: block;
        text-align: center;
        margin: 1rem 0;
    }
    .tabs-schedules{
        padding: 5%;
    }
}

/* ---------------------------------------------- */
footer{
    text-align: center;
    min-height: 2rem;
    background-color: royalblue;
    color: white;
    padding: 1% 0;
}

footer a , footer a:hover {
    color: red;
    font-weight: 800;
}

@media (width <= 500px) {
    footer{
        padding: 2rem 0 !important;
    }
}

/* ----------------------------------------------- */

/* Form */

.form-section{
    background-color:  black ;
    padding: 2% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    color: white !important;
}

.contact-form{
    /* background-color: red; */
    overflow: hidden;
    display: block;
    text-align: center;
}

.contact-form button{
    padding: 1rem;
    background-color: red;
    border: none;
    color: white;
    font-weight: 500;
    min-height: 2rem;
    min-width: 10rem;
}

.button-contact{
    text-align: end;
}

.form-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0;
}

.form-section textarea{
    max-width: 100%;
    min-width: 50%;
    margin: 0 1% 0 2%;
    padding: 2%;
}

.form-section input {
    max-width: 100%;
    min-width: 50%;
    margin: 0 1% 0 6%;
    padding: 2%;   
}

input:focus , textarea:focus{
    outline: none;
} 

.form-section input::placeholder , .form-section textarea::placeholder{
    padding-left: 2% !important;
    font-weight: 100;
}


.twitter-feed{
    /* background-color: bisque; */
    margin: 0 5%;
    display: block;
    line-height: 2;
    min-height: 100%;

}

.Form-heading-font{
    font-size: 30px;
    text-align: center !important;
}

#border-twitter{
    border-bottom: 1px solid red;
    font-size: 20px;
    margin: 1% 0;
    padding-bottom: 2rem;
}

@media (width <=500px){
    .form-section{
        display: block;
        padding: 10% 2%;
    }
    .twitter-feed{
        margin: 1%;
    }

    .form-flex{
        display: block;
        text-align: left;
    }
    .form-section input , .form-section textarea{
        margin: 0;
    } 
    .button-contact{
        text-align: center;
    }

    .contact-form button{
        min-width: 100%;
        max-width: 100%;
    }
}